<div class="detail" data-id="{{ data._id }}">
    <h3 class="detail_tit">{{ data.title }}</h3>
    <div class="detail_cont">
        <div class="detail_cont_item">
            <div class="detail_cont_item_hd">
                <div class="detail_cont_item_hd_tit">需求描述</div>
            </div>
            <div class="detail_cont_item_main" ng-bind-html="(data.desc || '<span style=color:#ddd>某人这么懒，什么都没说</sp[an>') | scehtml"></div>
        </div>
        <div class="detail_cont_item">
            <div class="detail_cont_item_hd">
                <div class="detail_cont_item_hd_tit">附件</div>
            </div>
            <div class="detail_cont_item_main">
                <ul class="detail_cont_item_files">
                    <span style="color:#ddd" ng-show="data.files.length==0">没有附件</span>
                    <li ng-repeat="x in data.files"><a href="#">{{ x.oname }}</a></li>
                    <li class="detail_cont_item_files_preview" ng-show="(data.files | regex:'type':'^image/').length>0">
                        <button ng-click="isShowPicpreview=true">图片预览</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="picpreview" ng-show="isShowPicpreview">
    <div class="shape">
        <div class="sides">
            <div class="side {{ $index===0 ? 'active' : ''}}" ng-repeat="img in data.files | regex:'type':'^image/'">
                <div><img ng-src="upload/{{img.name}}"></div>
            </div>
        </div>
    </div>
    <div class="preview_close" ng-click="isShowPicpreview=false"><i class="iconfont">&#xe606;</i></div>
</div>

<div class="detail_mod_handle" ng-click="submit()">
    <i class="icon configure large" style="position:absolute;top:50%;left:30%;display:block;width:auto;height:auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"></i>
    <div class="detail_mod_handle_solve">解决</div>
    <!-- 指派的同时也相当于重启了 -->
    <div class="detail_mod_handle_assign">指派</div>
    <div class="detail_mod_handle_close">关闭</div>
</div>

<!-- <div class="handle">
    <button class="ui button fluid green submit" ng-click="submit()">解决</button>
</div> -->

<style>
@charset 'UTF-8';
.detail {}
    .detail_tit {margin:30px 0 20px;text-align:center;font-size:18px;font-weight:bold;}
    .detail_cont {}
        .detail_cont_item {margin-bottom:10px;}
            .detail_cont_item_hd {font-weight:bold;border-bottom:1px solid #ccc;}
                .detail_cont_item_hd_tit {display:inline-block;padding:0 5px;border-bottom:2px solid #ccc;font-size:16px;}
            .detail_cont_item_main {padding:5px 10px;}
                /*sp*/
                .detail_cont_item_files {overflow:hidden;}
                    .detail_cont_item_files li {float:left;margin-right:20px;line-height:30px;}
                    .detail_cont_item_files_preview {}
                        .detail_cont_item_files_preview button {padding:0 8px;height:30px;border:0;background:#ff4400;color:#fff;border-radius:3px;cursor:pointer;}



.detail_mod_handle {position:fixed;top:50%;right:-35px;padding:0 6px;width:70px;height:70px;border-radius:50%;background:#e12228;color:#fff;}
    .detail_mod_handle_solve, .detail_mod_handle_assign, .detail_mod_handle_close {display:none;position:absolute;top:50%;left:25%;width:50px;height:50px;line-height:50px;text-align:center;border-radius:50%;font-size:12px;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
    .detail_mod_handle_solve {background:limegreen;}
    .detail_mod_handle_assign {background:skyblue;}
    .detail_mod_handle_close {background:gray;}
    .detail_mod_handle.active .detail_mod_handle_solve {display:block;-webkit-transform:translate(-80%, -165%);transform:translate(-80%, -165%);}
    .detail_mod_handle.active .detail_mod_handle_assign {display:block;-webkit-transform:translate(-150%, -50%);transform:translate(-150%, -50%);}
    .detail_mod_handle.active .detail_mod_handle_close {display:block;-webkit-transform:translate(-80%, 65%);transform:translate(-80%, 65%);}


.shape {
    width:100%;
    position:relative;
    vertical-align:top;
    -webkit-perspective:2000px;perspective:2000px;
    -webkit-transition:-webkit-transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
    transition:transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
}
    .sides {
        width:100%;
        -webkit-transform-style:preserve-3d;transform-style:preserve-3d;
    }
        .side {
            min-width:15em;height:15em;line-height:15em;text-align:center;background:#e6e6e6;color:#000;box-shadow:0 0 2px rgba(0,0,0,.3);
            opacity:1;width:100%;margin:0 !important;
            -webkit-backface-visibility:hidden;backface-visibility:hidden;
            display:none;
        }
        .shape .side.active {display:block;}
        .shape .side.hidden {opacity:.6}
        .shape .side.animating {position:absolute;top:0;left:0;display:block;z-index:100}
            .shape .side * {-webkit-backface-visibility:visible!important;backface-visibility:visible!important}
            .shape .side img {width:100%;}

.shape.animating .sides{
    position:absolute;
    -webkit-transition:-webkit-transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
    transition:transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
}
    .shape.animating .side{
        -webkit-transition:opacity .6s ease-in-out;transition:opacity .6s ease-in-out
    }

/* 图片预览 */
.picpreview {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);}
    .preview_close {position:absolute;top:20px;right:20px;}
        .preview_close i.iconfont {font-size:24px;border:3px solid #bbb;color:#bbb;border-radius:50%;cursor:pointer;}
        .preview_close i.iconfont:hover {border-color:#fff;color:#fff;}
    .picpreview .shape {margin:20px auto 0;max-width:80%;}
</style>

<script>
var idx = 0;
jQuery('.picpreview').on('click', function() {

var shape = document.querySelector('.shape');
var sides = document.querySelector('.sides');
var side = document.querySelectorAll('.side');
var len = side.length;
    if(len<=1) {
        return;
    }
    var preidx = idx;
    idx = (idx+1)%len;
    shape.style.cssText = 'width:'+sides.clientWidth+'px;height:'+sides.clientHeight+'px';
    shape.classList.add('animating');
    sides.style.cssText = 'transform:translateX(0px) rotateY(-180deg)';
    side[preidx].style.cssText = 'transform:rotateY(0deg)';
    side[preidx].classList.add('hidden');
    side[idx].style.cssText = 'left:0;transform:rotateY(180deg)';
    side[idx].classList.add('animating');
    setTimeout(function() {
        shape.removeAttribute('style');
        shape.classList.remove('animating');
        sides.removeAttribute('style');
        side[preidx].removeAttribute('style');
        side[preidx].classList.remove('hidden');
        side[preidx].classList.remove('active');
        side[idx].removeAttribute('style');
        side[idx].classList.remove('animating');
        side[idx].classList.add('active');
    }, 600);
});
// shape.addEventListener('click', function() {
    
// });
</script>