<div class="detail" data-id="{{ data._id }}">
    <h3 class="detail_tit">{{ data.sbu.name }}<span ng-show="data.sbu.name"> · </span>{{ data.title }}</h3>
    <div class="detail_cont">
        <div class="detail_cont_item">
            <div class="detail_cont_item_hd">
                <div class="detail_cont_item_hd_tit">需求描述</div>
            </div>
            <div class="detail_cont_item_main" ng-bind-html="(data.desc || '<span style=color:#ddd>某人这么懒，什么都没说</sp[an>') | scehtml"></div>
        </div>
        <div class="detail_cont_item">
            <div class="detail_cont_item_hd">
                <div class="detail_cont_item_hd_tit">附件</div>
            </div>
            <div class="detail_cont_item_main">
                <ul class="detail_cont_item_files">
                    <span style="color:#ddd" ng-show="data.files.length==0">没有附件</span>
                    <li ng-repeat="x in data.files"><a href="api/attachment/{{ x.name }}/{{ x.oname }}">{{ x.oname }}</a></li>
                    <li class="detail_cont_item_files_preview" ng-show="(data.files | regex:'type':'^image/').length>0">
                        <button class="btn" ng-click="isShowPicpreview=true">图片预览</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="detail_cont_item">
            <div class="detail_cont_item_hd">
                <div class="detail_cont_item_hd_tit">动态<div class="detail_cont_item_hd_tit_statename">{{ data.stateName }}</div></div>
            </div>
            <div class="detail_cont_item_main">
                <ul class="detail_cont_item_actions">
                    <li class="detail_cont_item_actions_item ly_box">
                        <div class="detail_cont_item_actions_item_date">
                            <div>{{ data.createdAt | fmtDateNormal }}</div>
                        </div>
                        <div class="detail_cont_item_actions_item_cont ly_box_flexone">
                            <span class="detail_cont_item_actions_item_user">佚名</span> 提交了需求
                        </div>
                    </li>
                    <li class="detail_cont_item_actions_item ly_box" ng-repeat="x in news">
                        <div class="detail_cont_item_actions_item_date">
                            <div>{{ x.createdAt | fmtDateNormal }}</div>
                        </div>
                        <div class="detail_cont_item_actions_item_cont ly_box_flexone">
                            <div ng-show="x.type==1"><span class="detail_cont_item_actions_item_user">{{ x.user.name || '佚名' }}</span> 说「{{ x.comment }}」</div>
                            <div class="detail_cont_item_actions_item_complete" ng-show="x.type==3"><span class="detail_cont_item_actions_item_user">{{ x.user.name }}</span> 完成了需求</div>
                        </div>
                    </li>
                    <li class="detail_cont_item_actions_item ly_box">
                        <div class="detail_cont_item_actions_item_date">
                            <div>现在</div>
                        </div>
                        <div class="detail_cont_item_actions_item_cont ly_box_flexone">
                            <div class="fornow" on-outside-element-click="isShowFornowmenu=whatNowhandling=false">
                                <button class="fornow_btn btn" ng-click="(whatNowhandling=false) || (isShowFornowmenu=!isShowFornowmenu)">做点什么</button>

                                <div class="fornow_menu" ng-show="isShowFornowmenu">
                                    <div class="fornow_menu_btns" ng-show="!whatNowhandling">
                                        <button class="btn" ng-click="whatNowhandling='comment'"><i class="iconfont">&#xe607;</i></button>
                                        <button class="btn" ng-click="whatNowhandling='upload'"><i class="iconfont">&#xe609;</i></button>
                                        <button class="btn" ng-click="whatNowhandling='handle'" ng-show="Session.userId"><i class="iconfont">&#xe608;</i></button>
                                    </div>
                                    <div class="fornow_menu_comment" ng-show="whatNowhandling=='comment'">
                                        <!-- <input class="inp" type="text" ng-model="nowcomment"> -->
                                        <textarea class="inp" ng-model="nowcomment"></textarea>
                                        <button class="fornow_menu_comment_confirm btn" ng-click="nowcommentfn()">确定</button>
                                        <button class="fornow_menu_comment_cancel btn" ng-click="whatNowhandling=isShowFornowmenu=null">取消</button>
                                    </div>
                                    <div class="fornow_menu_upload" ng-show="whatNowhandling=='upload'"></div>
                                    <div class="fornow_menu_handle" ng-show="whatNowhandling=='handle'">
                                        <button class="fornow_menu_handle_solve btn" ng-click="nowcompletefn()">完成需求</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="picpreview" ng-show="isShowPicpreview">
    <div class="shape">
        <div class="sides">
            <div class="side {{ $index===0 ? 'active' : ''}}" ng-repeat="img in data.files | regex:'type':'^image/'">
                <div><img ng-src="upload/{{img.name}}"></div>
            </div>
        </div>
    </div>
    <div class="preview_close" ng-click="isShowPicpreview=false"><i class="iconfont">&#xe606;</i></div>
</div>

<style>
@charset 'UTF-8';
.detail {padding-bottom:50px;}
    .detail_tit {margin:30px 0 20px;text-align:center;font-size:18px;font-weight:bold;}
    .detail_cont {}
        .detail_cont_item {margin-bottom:10px;}
            .detail_cont_item_hd {font-weight:bold;border-bottom:1px solid #e1e1e2;}
                .detail_cont_item_hd_tit {position:relative;display:inline-block;padding:0 5px;border-bottom:2px solid #e1e1e2;font-size:16px;}
                    /*sp*/
                    .detail_cont_item_hd_tit_statename {position:absolute;top:3px;left:100%;margin-left:10px;padding:0 5px;height:20px;line-height:20px;background:#ff4400;color:#fff;font-size:12px;border-radius:3px;white-space:nowrap;}
                        .detail_cont_item_hd_tit_statename:before {content:'';position:absolute;left:-3px;top:7px;width:6px;height:6px;background:#ff4400;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
            .detail_cont_item_main {padding:15px 10px;}
                /*sp*/
                .detail_cont_item_files {overflow:hidden;}
                    .detail_cont_item_files li {float:left;margin-right:20px;line-height:30px;}
                    .detail_cont_item_files_preview {}
                        .detail_cont_item_files_preview button {padding:0 8px;height:30px;}
                .detail_cont_item_actions {}
                    .detail_cont_item_actions_item {position:relative;padding:0 0 5px;}
                        .detail_cont_item_actions_item:before {content:'';position:absolute;top:0;left:80px;height:100%;border-right:1px solid #252535;}
                        .detail_cont_item_actions_item_date {width:80px;text-align:right;border-bottom:1px solid #e6e7ea;}
                            .detail_cont_item_actions_item_date div {position:relative;display:inline-block;padding-right:5px;font-size:12px;color:#888;}
                            .detail_cont_item_actions_item_date div:after {content:'';position:absolute;top:50%;right:-3px;display:block;width:3px;height:3px;border:1px solid #252535;border-radius:50%;background:#fff;-webkit-transform:translate(0, -3px);transform:translate(0, -3px);}
                        .detail_cont_item_actions_item_cont {padding:0 10px;}
                            .detail_cont_item_actions_item_complete {color:#ff4400;}
                            .detail_cont_item_actions_item_user {font-size:12px;color:#CC3333;}
                            /*sp*/
                            .fornow {position:relative;}
                                .fornow_btn {display:inline-block;padding:5px 10px;font-size:12px;}
                                .fornow_menu {position:absolute;bottom:100%;margin-bottom:7px;padding:10px 15px;border:1px solid #ff4400;border-radius:3px;background:#f0f0f0;}
                                    .fornow_menu:before {content:'';position:absolute;bottom:-4px;width:6px;height:6px;border-right:1px solid #ff4400;border-bottom:1px solid #ff4400;background:#f0f0f0;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
                                        .fornow_menu_btns {}
                                            .fornow_menu_btns button {width:30px;height:30px;line-height:30px;border-radius:50%;}
                                        .fornow_menu_comment {}
                                            .fornow_menu_comment textarea {display:block;resize:none;width:300px;height:100px;}
                                            .fornow_menu_comment_confirm, .fornow_menu_comment_cancel {float:right;margin-top:10px;padding:0 10px;height:30px;font-size:12px;}
                                            .fornow_menu_comment_confirm {margin-left:10px;}
                                            .fornow_menu_comment_cancel {margin-left:5px;}
                                        .fornow_menu_handle {}
                                            .fornow_menu_handle_solve {padding:0 5px;height:30px;font-size:12px;}

.shape {
    width:100%;
    position:relative;
    vertical-align:top;
    -webkit-perspective:2000px;perspective:2000px;
    -webkit-transition:-webkit-transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
    transition:transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
}
    .sides {
        width:100%;
        -webkit-transform-style:preserve-3d;transform-style:preserve-3d;
    }
        .side {
            min-width:15em;height:15em;line-height:15em;text-align:center;background:#e6e6e6;color:#000;box-shadow:0 0 2px rgba(0,0,0,.3);
            opacity:1;width:100%;margin:0 !important;
            -webkit-backface-visibility:hidden;backface-visibility:hidden;
            display:none;
        }
        .shape .side.active {display:block;}
        .shape .side.hidden {opacity:.6}
        .shape .side.animating {position:absolute;top:0;left:0;display:block;z-index:100}
            .shape .side * {-webkit-backface-visibility:visible!important;backface-visibility:visible!important}
            .shape .side img {width:100%;}

.shape.animating .sides{
    position:absolute;
    -webkit-transition:-webkit-transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
    transition:transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
}
    .shape.animating .side{
        -webkit-transition:opacity .6s ease-in-out;transition:opacity .6s ease-in-out
    }

/* 图片预览 */
.picpreview {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);}
    .preview_close {position:absolute;top:20px;right:20px;}
        .preview_close i.iconfont {font-size:24px;border:3px solid #bbb;color:#bbb;border-radius:50%;cursor:pointer;}
        .preview_close i.iconfont:hover {border-color:#fff;color:#fff;}
    .picpreview .shape {margin:20px auto 0;max-width:80%;}
</style>

<script>
var idx = 0;
jQuery('.picpreview').on('click', function() {
    var shape = document.querySelector('.shape');
    var sides = document.querySelector('.sides');
    var side = document.querySelectorAll('.side');
    var len = side.length;
    if(len<=1) {
        return;
    }
    var preidx = idx;
    idx = (idx+1)%len;
    shape.style.cssText = 'width:'+sides.clientWidth+'px;height:'+sides.clientHeight+'px';
    shape.classList.add('animating');
    sides.style.cssText = 'transform:translateX(0px) rotateY(-180deg)';
    side[preidx].style.cssText = 'transform:rotateY(0deg)';
    side[preidx].classList.add('hidden');
    side[idx].style.cssText = 'left:0;transform:rotateY(180deg)';
    side[idx].classList.add('animating');
    setTimeout(function() {
        shape.removeAttribute('style');
        shape.classList.remove('animating');
        sides.removeAttribute('style');
        side[preidx].removeAttribute('style');
        side[preidx].classList.remove('hidden');
        side[preidx].classList.remove('active');
        side[idx].removeAttribute('style');
        side[idx].classList.remove('animating');
        side[idx].classList.add('active');
    }, 600);
});
// shape.addEventListener('click', function() {
    
// });
</script>