<!-- <form class="search">
    <input class="inp" type="tel" placeholder="bug编号筛选" ng-model="selectBugId">
</form> -->

<div class="cohead ly_box">
    <ul class="cohead_collection ly_box ly_box_flexone">
        <li class="cohead_collection_item {{ !isMine?'active':'' }}" ng-click="isMine=false"><i class="iconfont">&#xe602;</i>所有需求</li>
        <li class="cohead_collection_item {{ isMine?'active':'' }}" ng-show="Session.userErp" ng-click="(isMine=true) && (currentPage=1)"><i class="iconfont">&#xe601;</i>我的需求</li>
    </ul>
    <div class="cohead_state">
        <div class="cohead_state_main">
            <div class="cohead_state_main_show"><span>{{stateName || '全部'}}</span><i class="iconfont">&#xe603;</i></div>
            <div class="cohead_state_main_dropdown">
                <ul>
                    <li ng-click="selectBugState=''">全部</li>
                    <li ng-click="selectBugState=0">未解决</li>
                    <li ng-click="selectBugState=1">已解决</li>
                    <li ng-click="selectBugState=2">已关闭</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dsbuwrap" style="margin-top:19px;margin-left:20px;">
        <angucomplete-alt 
        id="sbu"
        placeholder="业务筛选"
        pause="100"
        selected-object="d_sbu"
        local-data="sbus"
        search-fields="name"
        title-field="name"
        minlength="1"
        text-searching="正在搜索..."
        text-no-results="没有找到匹配的"
        match-class="highlight"
        input-class="inp dsbu form-control form-control-small" />
    </div>
</div>

<div class="dlist_turnpage">
    <pagination ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId, solver:(isMine?Session.userId:undefined)}).length>itemsPerPage"
        total-items="(bugList | filter:{state: selectBugState||selectBugState==0 ? selectBugState : '', id:selectBugId} | regex:'sbu.name':subsbustr).length" 
        ng-model="currentPage" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        items-per-page="itemsPerPage"
        max-size="4"
        previous-text="‹"
        next-text="›"
        first-text="«"
        last-text="»"></pagination>
</div>

<!-- <div>
    <h3 style="background:#ccc">可以展示的数据</h3>
    <div>ID：{{bugList[0]._id}}</div>
    <div>需求名称：{{bugList[0].title}}</div>
    <div>需求描述：{{bugList[0].desc}}</div>
    <div>文件：{{bugList[0].files}}</div>
    <div>业务：{{bugList[0].sbu}}</div>
    <div>状态：{{bugList[0].state}}</div>
    <div>状态名：{{bugList[0].stateName}}</div>
    <div>提交时间：{{bugList[0].createdAt | fmtDateNormal}}</div>
    <div>最后更新：{{bugList[0].updatedAt | fmtDateNormal}}</div>
    <hr>
    <div>设备：{{bugList[0].device}}</div>
    <div>ENV：{{bugList[0].env}}</div>
</div> -->

<div class="dlist">
    <ul class="dlist_wrap">
        <li class="dlist_item" ui-sref="detail({id:x._id})" ng-repeat="x in bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId, solver:(isMine?Session.userId:undefined)} | regex:'sbu.name':subsbustr | slice : (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
            <div class="dlist_item_cont ly_box">
                <div class="dlist_item_label">
                    <div class="dlist_item_label_box ly_box">
                        <div>{{ x.sbu && x.sbu.name }}</div>
                        <div>{{ x.title }}</div>
                        <div></div>
                    </div>
                </div>    
                <div class="dlist_item_stat"><i class="iconfont">&#xe60a;</i>{{ x.filescount }}</div>
                <div class="dlist_item_stat"><i class="iconfont">&#xe607;</i>{{ x.news.length }}</div>
                <div class="dlist_item_meta ly_box_flexone">
                    <div class="dlist_item_state state{{ x.state }}">{{ x.stateName }}</div>
                    <div class="dlist_item_date">{{ x.createdAt | fmtDateNormal }}</div>
                </div>
                <!-- <div class="dlist_item_desc ly_multiline" ng-bind-html="x.desc | scehtml"></div> -->
            </div>
        </li>
    </ul>

    <div class="loading" ng-hide="isLoaded"></div>
    <div class="buglist_none" ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId, solver:(isMine?Session.userId:undefined)} | regex:'sbu.name':subsbustr).length==0"></div>
</div>


<style>
@charset 'UTF-8';

.dlist {margin-top:20px;}
    .dlist_wrap {}
        .dlist_item {margin-bottom:15px;/*border-top:1px solid #ddd;border-bottom:1px solid #ddd;*/border-radius:.285em;box-shadow:0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;cursor:pointer;}
        .dlist_item:hover {background:#f8f8f8;/*transform:translate(-5px, 0);transition:.3s ease;*/}
            .dlist_item_cont {padding:10px 15px;}
                .dlist_item_label {display:inline-block;}
                    .dlist_item_label_box {border-radius:2px;border:1px solid #ff4400;opacity:.9}
                        .dlist_item_label_box div {height:20px;line-height:20px;}
                        .dlist_item_label_box > div:nth-child(1) {padding:0 15px 0 5px;color:#fff;background:#ff4400;}
                        .dlist_item_label_box > div:nth-child(2) {position:relative;padding:0 5px;color:#ff4400;border-left:1px solid #ff4400;}
                            .dlist_item_label_box > div:nth-child(2):before {content:'';position:absolute;left:-1px;top:50%;display:block;width:6px;height:6px;border-bottom:1px solid #ff4400;border-left:1px solid #ff4400;background:#fff;-webkit-transform:rotate(45deg) translate(-50%, -50%);transform:rotate(45deg) translate(-50%, -50%);-webkit-transform-origin:top left;transform-origin:top left;}
                .dlist_item_stat {display:inline-block;margin-left:20px;}
                    .dlist_item_stat i.iconfont {margin-right:3px;color:#ff4400;}
                .dlist_item_meta {margin-left:20px;line-height:22px;font-size:12px;color:rgba(0,0,0,.4);overflow:hidden;}
                    .dlist_item_state {float:left;font-weight:bold;}
                    .dlist_item_state.state0 {color:#CC3333;}
                    .dlist_item_state.state1 {color:#009966;}
                    .dlist_item_date {float:right;}
                .dlist_item_desc {margin-top:5px;}

.buglist_none {width:100%;height:150px;background:url(../public/img/bow.png) no-repeat center;}

.search {margin:15px;}
    .search input.inp {width:100%;max-width:200px;}
    

    .dlist_turnpage {margin-top:20px;text-align:center;}
        .pagination {display:inline-block;margin:0;padding:0;border-radius:4px;}
            .pagination > li {float:left;margin-left:-1px;border:1px solid #ddd;list-style:none;overflow:hidden;}
            .pagination > li:first-child {margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
            .pagination > li:last-child {border-top-right-radius:4px;border-bottom-right-radius:4px;}
            .pagination > li.active {border-color:#E12228;}
            .pagination > li.active:hover {border-color:#E12228;}
                .pagination > li > a {display:block;width:30px;height:30px;line-height:30px;text-align:center;color:#E12228;text-decoration:none;background:#fff;}
                .pagination > li > a:hover {background: #f0f0f0;}
                .pagination > .active > a {color:#fff;cursor:default;background:#E12228;}
                .pagination > .active > a:hover {color:#fff;cursor:default;background:#E12228;}
                .pagination > .disabled > a {pointer-events:none;cursor:default;}
.cohead {margin:20px 0 0;border-bottom:2px solid #e5e5e5;}
    .cohead_collection {}
        .cohead_collection_item {margin-right:30px;margin-bottom:-2px;height:52px;line-height:50px;font-size:20px;border-bottom:2px solid transparent;cursor:pointer;}
        .cohead_collection_item.active {color:#ff4400;border-color:#ff4400;}
            .cohead_collection_item i.iconfont {margin-right:3px;}
    .cohead_state {}
        .cohead_state_main {position:relative;margin-top:20px;line-height:30px;cursor:pointer;}
            .cohead_state_main_show {}
                .cohead_state_main_show i.iconfont {margin-left:3px;}
            .cohead_state_main_dropdown {z-index:1;display:none;position:absolute;top:100%;right:0;padding:10px 0;word-break:keep-all;background:#252535;}
            .cohead_state_main:hover .cohead_state_main_dropdown {display:block;}
                .cohead_state_main_dropdown li {padding:0 15px;height:30px;line-height:30px;font-size:12px;color:#757393;}
                .cohead_state_main_dropdown li:hover {background:#323242;color:#fff;}

.inp.dsbu {width:100%;}
.highlight {color:#ff4400;}
.angucomplete-holder {position:relative;}
    .angucomplete-dropdown {z-index:9999;position:absolute;padding:6px 0;width:100%;border-color:#ececec;border-width:1px;border-style:solid;border-radius:2px;cursor:pointer;background:#ffffff;}
        .angucomplete-searching {padding:0 6px;color:#acacac;font-size:14px;}
.angucomplete-description {font-size:14px;}
.angucomplete-row {padding:5px;color:#000000;margin-bottom:4px;clear:both;}
.angucomplete-selected-row {background-color:lightblue;color:#ffffff;}
.angucomplete-image-holder {padding-top:2px;float:left;margin-right:10px;margin-left:5px;}
.angucomplete-image {height:34px;width:34px;border-radius:50%;border-color:#ececec;border-style:solid;border-width:1px;}
.angucomplete-image-default {
    /* Add your own default image here
     background-image:url('/assets/default.png'); */
    background-position:center;background-size:contain;height:34px;width:34px;}
</style>