<style>
@charset 'UTF-8';

.search {margin:15px;}
    .search input {width:100%;}
.bugtips {position:relative;margin:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
    .bugtips_thumb {position:absolute;top:-3px;left:0;height:37px;width:22%;border-top:2px solid red;border-bottom:2px solid red;border-left:1px solid rgba(0,0,0,0.05);border-right:1px solid rgba(0,0,0,0.05);-webkit-transition:0.5s ease;transition:0.5s ease;background:rgba(0,0,0,0.01);}
    .active0 .bugtips_thumb {-webkit-transform:translate(0,0);transform:translate(0,0);}
    .active1 .bugtips_thumb {-webkit-transform:translate(100%,0);transform:translate(100%,0);}
    .active2 .bugtips_thumb {-webkit-transform:translate(200%,0);transform:translate(200%,0);}
    .active .bugtips_thumb {-webkit-transform:translate(300%,0);transform:translate(300%,0);}
    .bugtips_it {display:inline-block;padding:5px 0;width:22%;height:31px;cursor:pointer;}
        .bugtips_it_icon {display:inline-block;width:10px;height:10px;background:#ccc;}
.buglist {margin:0 15px 15px;border:1px solid #ddd;}
    .buglist_it {position:relative;padding:10px;border-top:1px solid #ddd;overflow:hidden;}
    .buglist_it:before {position:absolute;top:-7px;left:-7px;content:'';display:block;width:14px;height:14px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
    .buglist_it.state0:before {background:#e12228;}
    .buglist_it.state1:before {background:limegreen;}
    .buglist_it.state2:before {background:gray;}
    .buglist_it:first-child {border-top:none;}
        .buglist_it_id {float:left;width:50px;height:40px;line-height:40px;border:1px solid #ccc;font-size:18px;text-align:center;}
        .buglist_it_info {float:left;width:25%;text-align:center;}
            .buglist_it_info_device {height:21px;font-size:12px;}
            .buglist_it_info_submitdate {font-size:12px;}
        .buglist_it_description {float:left;width:30%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
        .buglist_it_pic {float:right;width:40px;height:40px;border:1px solid #ccc;overflow:hidden;}
            .buglist_it_pic img {width:100%;}
    .buglist_none {width:100%;height:150px;background:url(../img/bow.png) no-repeat center;}

    .dlist_turnpage {text-align:center;}
        .pagination {display:inline-block;margin:0;padding:0;border-radius:4px;}
            .pagination > li {float:left;margin-left:-1px;border:1px solid #ddd;list-style:none;overflow:hidden;}
            .pagination > li:first-child {margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
            .pagination > li:last-child {border-top-right-radius:4px;border-bottom-right-radius:4px;}
            .pagination > li.active {border-color:#E12228;}
            .pagination > li.active:hover {border-color:#E12228;}
                .pagination > li > a {display:block;width:30px;height:30px;line-height:30px;text-align:center;color:#E12228;text-decoration:none;background:#fff;}
                .pagination > li > a:hover {background: #f0f0f0;}
                .pagination > .active > a {color:#fff;cursor:default;background:#E12228;}
                .pagination > .active > a:hover {color:#fff;cursor:default;background:#E12228;}
                .pagination > .disabled > a {pointer-events:none;cursor:default;}
</style>

<form class="search">
    <input type="tel" placeholder="bug编号筛选" ng-model="selectBugId">
</form>

<div class="bugtips active{{selectBugState}}">
    <div class="bugtips_thumb"></div>
    <div class="bugtips_it" ng-click="selectBugState=0">
        <div class="bugtips_it_icon" style="background:#e12228;"></div>
        <span class="bugtips_it_text">未解决</span>
    </div>
    <div class="bugtips_it" ng-click="selectBugState=1">
        <div class="bugtips_it_icon" style="background:limegreen;"></div>
        <span class="bugtips_it_text">已解决</span>
    </div>
    <div class="bugtips_it" ng-click="selectBugState=2">
        <div class="bugtips_it_icon" style="background:gray;"></div>
        <span class="bugtips_it_text">已关闭</span>
    </div>
    <div class="bugtips_it" ng-click="selectBugState=''">
        <div class="bugtips_it_icon" style="background:#fff;border:1px solid #ddd"></div>
        <span class="bugtips_it_text">全部</span>
    </div>
</div>

<div class="dlist_turnpage">
    <pagination ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId}).length>itemsPerPage"
        total-items="(bugList | filter:{state: selectBugState||selectBugState==0 ? selectBugState : '', id:selectBugId}).length" 
        ng-model="currentPage" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        items-per-page="itemsPerPage"
        max-size="4"
        previous-text="‹"
        next-text="›"
        first-text="«"
        last-text="»"></pagination>
</div>

<div class="buglist">
    <div ng-repeat="x in bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId} | slice : (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage" ui-sref="detail({id:x.id})" class="buglist_it state{{x.state}}">
        <div class="buglist_it_id">{{x.id}}</div>
        <div class="buglist_it_info">
            <div class="buglist_it_info_device">{{x.device || '未知设备'}}</div>
            <div class="buglist_it_info_submitdate">{{x.submitdate | fmtDateNormal}}</div>
        </div>
        <div class="buglist_it_description">{{x.description}}</div>
        <div class="buglist_it_pic"><img ng-if="x.pics.length>0" ng-src="upload/{{x.pics[0]}}"></div>
    </div>

    <div class="loading" ng-hide="isLoaded"></div>
    <div class="buglist_none" ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId}).length==0"></div>
</div>