<!-- <form class="search">
    <input class="inp" type="tel" placeholder="bug编号筛选" ng-model="selectBugId">
</form> -->

<div class="cohead ly_box">
    <ul class="cohead_collection ly_box ly_box_flexone">
        <li class="cohead_collection_item active"><i class="iconfont">&#xe602;</i>所有需求</li>
        <li class="cohead_collection_item"><i class="iconfont">&#xe601;</i>我的需求</li>
    </ul>
    <div class="cohead_state">
        <div class="cohead_state_main">
            <div class="cohead_state_main_show"><span>{{stateName || '全部'}}</span><i class="iconfont">&#xe603;</i></div>
            <div class="cohead_state_main_dropdown">
                <ul>
                    <li ng-click="selectBugState=''">全部</li>
                    <li ng-click="selectBugState=0">未解决</li>
                    <li ng-click="selectBugState=1">已解决</li>
                    <li ng-click="selectBugState=2">已关闭</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="dlist_turnpage">
    <pagination ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId}).length>itemsPerPage"
        total-items="(bugList | filter:{state: selectBugState||selectBugState==0 ? selectBugState : '', id:selectBugId}).length" 
        ng-model="currentPage" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        items-per-page="itemsPerPage"
        max-size="4"
        previous-text="‹"
        next-text="›"
        first-text="«"
        last-text="»"></pagination>
</div>

<!-- <div>
    <h3 style="background:#ccc">可以展示的数据</h3>
    <div>ID：{{bugList[0]._id}}</div>
    <div>需求名称：{{bugList[0].title}}</div>
    <div>需求描述：{{bugList[0].desc}}</div>
    <div>文件：{{bugList[0].files}}</div>
    <div>状态：{{bugList[0].state}}</div>
    <div>状态名：{{bugList[0].stateName}}</div>
    <div>提交时间：{{bugList[0].createdAt | fmtDateNormal}}</div>
    <div>最后更新：{{bugList[0].updatedAt | fmtDateNormal}}</div>
    <hr>
    <div>设备：{{bugList[0].device}}</div>
    <div>ENV：{{bugList[0].env}}</div>
</div> -->

<div class="dlist">
    <ul class="dlist_wrap">
        <li class="dlist_item" ui-sref="detail({id:x._id})" ng-repeat="x in bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId} | slice : (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
            <div class="dlist_item_cont">
                <h4 class="dlist_item_tit">{{ x.title }}</h4>
                <div class="dlist_item_meta">
                    <div class="dlist_item_state">{{ x.stateName }}</div>
                    <div class="dlist_item_date">{{ x.createdAt | fmtDateNormal }}</div>
                </div>
                <div class="dlist_item_pics">
                    <div ng-repeat="img in x.files | regex:'type':'^image/'">34</div>
                </div>
                <div class="dlist_item_desc ly_multiline">{{ x.desc }}</div>
            </div>
            <div class="dlist_item_extra">
                
            </div>
        </li>
    </ul>

    <div class="loading" ng-hide="isLoaded"></div>
    <div class="buglist_none" ng-show="(bugList | filter:{state: selectBugState||selectBugState==0&&!selectBugId ? selectBugState : '', id:selectBugId}).length==0"></div>
</div>


<style>
@charset 'UTF-8';
.dlist {margin-top:30px;}
    .dlist_wrap {}
        .dlist_item {margin-bottom:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-radius:.285em;box-shadow:0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;}
            .dlist_item_cont {padding:10px 15px;}
                .dlist_item_tit {font-size:16px;font-weight:bold;}
                .dlist_item_meta {font-size:12px;color:rgba(0,0,0,.4);overflow:hidden;}
                    .dlist_item_state {float:left;}
                    .dlist_item_date {float:right;}
                .dlist_item_desc {margin-top:5px;}
            .dlist_item_extra {padding:15px;border-top:1px solid rgba(0,0,0,.05);overflow:hidden;}

.buglist_none {width:100%;height:150px;background:url(../public/img/bow.png) no-repeat center;}

.search {margin:15px;}
    .search input.inp {width:100%;max-width:200px;}
    

    .dlist_turnpage {text-align:center;}
        .pagination {display:inline-block;margin:0;padding:0;border-radius:4px;}
            .pagination > li {float:left;margin-left:-1px;border:1px solid #ddd;list-style:none;overflow:hidden;}
            .pagination > li:first-child {margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
            .pagination > li:last-child {border-top-right-radius:4px;border-bottom-right-radius:4px;}
            .pagination > li.active {border-color:#E12228;}
            .pagination > li.active:hover {border-color:#E12228;}
                .pagination > li > a {display:block;width:30px;height:30px;line-height:30px;text-align:center;color:#E12228;text-decoration:none;background:#fff;}
                .pagination > li > a:hover {background: #f0f0f0;}
                .pagination > .active > a {color:#fff;cursor:default;background:#E12228;}
                .pagination > .active > a:hover {color:#fff;cursor:default;background:#E12228;}
                .pagination > .disabled > a {pointer-events:none;cursor:default;}
.cohead {margin:20px 0 0;border-bottom:2px solid #e5e5e5;}
    .cohead_collection {}
        .cohead_collection_item {margin-right:30px;margin-bottom:-2px;height:52px;line-height:50px;font-size:20px;border-bottom:2px solid transparent;cursor:pointer;}
        .cohead_collection_item.active {color:#ff4400;border-color:#ff4400;}
            .cohead_collection_item i.iconfont {margin-right:3px;}
    .cohead_state {}
        .cohead_state_main {position:relative;margin-top:20px;line-height:30px;cursor:pointer;}
            .cohead_state_main_show {}
                .cohead_state_main_show i.iconfont {margin-left:3px;}
            .cohead_state_main_dropdown {z-index:1;display:none;position:absolute;top:100%;right:0;padding:10px 0;word-break:keep-all;background:#252535;}
            .cohead_state_main:hover .cohead_state_main_dropdown {display:block;}
                .cohead_state_main_dropdown li {padding:0 15px;height:30px;line-height:30px;font-size:12px;color:#757393;}
                .cohead_state_main_dropdown li:hover {background:#323242;color:#fff;}
</style>