@charset "UTF-8";
/*===================
	样式重置
===================*/
* {-webkit-tap-highlight-color:transparent;outline:0;margin:0;padding:0;vertical-align:baseline;box-sizing:border-box;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;vertical-align:baseline;}
img {border:0 none;vertical-align:top;}
i, em {font-style:normal;}
ol, ul {list-style:none;}
input, select, button, h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;font-family:inherit;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;color:#5790C5;}
a:hover{color:#154673;}
body {margin:0 auto;min-width:320px;height:100%;font:14px/1.5 Helvetica,'STHeiti STXihei','Microsoft JhengHei','Microsoft YaHei',Arial,sans-serif;color:#666;background:#fff;}

/* GIT modify */
input[type="text"].inp, input[type="password"].inp, input[type="tel"].inp, select, textarea {padding:7px 8px;font-size:13px;color:#333;vertical-align:middle;background-color:#fff;background-repeat:no-repeat;background-position:right 8px center;border:1px solid #ccc;border-radius:3px;outline:none;box-shadow:inset 0 1px 2px rgba(0,0,0,0.075);}
input[type="text"].inp:focus, input[type="password"].inp:focus, input[type="tel"].inp:focus, select:focus, textarea:focus {border-color:#51a7e8;box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);}
button.btn {background:#ff4400;color:#fff;border-radius:3px;border:0;cursor:pointer;}
button.btn:hover {background:#dd4400;}

/*===================
	公共样式
===================*/
/* 盒子布局 */
.ly_box {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.ly_box.vertical {box-orient:vertical;-webkit-flex-flow:column;-ms-flex-flow:column;flex-flow:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
	.ly_box_flexone {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0;}
/* 多行省略 */
.ly_multiline {display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;}

/*===================
	自定样式
===================*/
@font-face {
	font-family:'iconfont';
    src:url('../img/iconfont/iconfont.eot'); /* IE9*/
    src:url('../img/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../img/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../img/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
i.iconfont {font-family:iconfont;line-height:1;}

/*----- 头部 -----*/
.mod_hd {height:50px;background:#252535;color:#fff;box-shadow:0 3px 8px 0 #ccc;}
	.mod_hd_cont {margin:0 auto;max-width:1120px;}
		.mod_hd_logo {padding:0 15px;height:53px;background:#FF4400;cursor:pointer;}
			.mod_hd_logo i {display:block;margin-top:10px;width:30px;height:30px;background:url(../img/rocket.png);background-size:100%;}
			.mod_hd_logo div {margin-left:5px;line-height:50px;font-size:20px;}
.mod_hd_nav {
  height: 50px;
}
.mod_hd_nav_ul {
  height: 100%;
}
.mod_hd_nav li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #757393;
}
.mod_hd_nav li.active {
  color: #fff;
}
.mod_hd_info {}
.mod_hd_info_user {
  position: relative;
}
.mod_hd_info_user_main {
  padding: 0 10px;
  line-height: 50px;
  cursor: pointer;
}
					.mod_hd_info_user i {font-size:20px;vertical-align:middle;}
					.mod_hd_info_user_text {margin-left:5px;color:#afaec5;}
				.mod_hd_info_user_signin {z-index:1;position:absolute;top:100%;right:-20px;padding:10px 20px;background:#252535;}
					.mod_hd_info_user_signin_erp {
						padding:5px 0;font-size:12px;border:0;border-radius:0;color:#fff;
						background-image:linear-gradient(#03a9f4,#03a9f4),linear-gradient(#D2D2D2,#D2D2D2);background-color:rgba(0,0,0,0);
						background-size:0 1px,100% 1px;background-repeat:no-repeat;background-position:center bottom,center bottom;
						transition:background 0s ease-out;}
						.mod_hd_info_user_signin_erp:focus, .mod_hd_info_user_signin_erp.haserror, .mod_hd_info_user_signin_erp.passvalid {background-size:100% 1px, 100% 1px;transition-duration:.3s;}
						.mod_hd_info_user_signin_erp.haserror {background-image:linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2,#d2d2d2);}
						.mod_hd_info_user_signin_erp:focus {background-image:linear-gradient(#03a9f4, #03a9f4), linear-gradient(#d2d2d2,#d2d2d2);}
						.mod_hd_info_user_signin_erp.passvalid {background-image:linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2,#d2d2d2);}
					.mod_hd_info_user_signin_submit {margin-top:10px;width:100%;height:25px;font-size:12px;font-weight:bold;background:#fff;border:0;color:#252535;cursor:pointer;}
					.mod_hd_info_user_signin_submit:hover {color:#fff;background:#03a9f4;transition:background .3s ease-out;}

/*----- 主容器 -----*/
.mod_wrap {}
	.mod_wrap_view {margin:0 auto;padding-top:2px;width:100%;min-width:320px;max-width:1120px;height:100%;}
/* 公共确认蒙层 */
.mod_confirm {position:fixed;top:0;width:100%;height:100%;}
    .mod_confirm_mask {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);}
    .mod_confirm_dialog {z-index:13;position:relative;margin:0 auto;width:100%;height:100%;min-width:320px;max-width:640px;}
    	.mod_confirm_dialog_cont {position:absolute;width:85%;top:35%;left:7.5%;background:#fafafc;text-align:center;border-radius:3px;}
    	    .mod_confirm_dialog_cont_hd {padding:1.2em 20px 0.5em;}
    	        .mod_confirm_dialog_cont_hd_tit {font-weight:400;font-size:17px;}
    	    .mod_confirm_dialog_cont_bd {padding:0 20px;font-size:15px;color:#888;text-align:left;}
    	    .mod_confirm_dialog_cont_ft {margin-top:20px;font-size:17px;line-height:42px;border-top:1px solid #D5D5D6;}
    	        .mod_confirm_dialog_cont_ft a {display:inline-block;width:49%;}
    	        .mod_confirm_dialog_cont_ft a.mod_confirm_dialog_cont_ft_default {color:#353535;}
    	        .mod_confirm_dialog_cont_ft a.mod_confirm_dialog_cont_ft_primary {color:#0BB20C;border-left:1px solid #D5D5D6;}


	.loading{width:20%;padding-top:20%;background-repeat:no-repeat;background-position:center center;background-size:100% auto;-webkit-animation:bugCrawling linear .25s infinite;margin:20px auto;}

@-webkit-keyframes bugCrawling{
	0%{background-image:url(../img/bug_frame1.png);}
	100%{background-image:url(../img/bug_frame2.png);}
}
