<!DOCTYPE HTML>
<html lang="zh-CN" ng-app="bughound">
<head>
<meta charset="utf-8" />
<title>BugHound | JDC 轻量级 bug 平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<!-- <link rel="stylesheet" href="public/css/semantic.min.css"> -->
<link rel="stylesheet" type="text/css" href="public/css/gb.css">
</head>
<body ng-controller="mainctrl">

<!-- S 头部 -->
<header class="mod_hd">
    <div class="mod_hd_cont ly_box">
        <div class="mod_hd_logo ly_box">
            <i class="ly_box_flexone"><!-- &#xe600; --></i><div>需求提报</div>
        </div>
        <nav class="mod_hd_nav ly_box_flexone">
            <ul class="mod_hd_nav_ul ly_box">
                <li class="{{navidx==='list' && 'active'}}">
                    <a ui-sref="list">广场</a>
                </li>
                <li class="{{navidx==='apply' && 'active'}}">
                    <a ui-sref="apply">申请</a>
                </li>
                <li class="{{navidx==='idlist' && 'active'}}" ng-show="userIsAdmin">
                    <a ui-sref="idlist">开发者</a>
                </li>
            </ul>
        </nav>
        <div class="mod_hd_info">
            <div class="mod_hd_info_user" on-outside-element-click="showLogin=false">
                <div class="mod_hd_info_user_main" ng-click="showLogin=!showLogin">
                    <i class="iconfont">&#xe601;</i><span class="mod_hd_info_user_text" href="#">{{userName ? userName : '登录'}}</span>
                </div>
                <div class="mod_hd_info_user_signin" ng-show="showLogin">
                    <input class="mod_hd_info_user_signin_erp {{signinErpHaserror && 'haserror'}}" type="text" placeholder="输入 ERP" ng-model="signinErp">
                    <input class="mod_hd_info_user_signin_submit" type="submit" value="{{ userName ? '切换':'登录'}}" ng-click="signin()">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- E 头部 -->


<div class="mod_wrap">
    <div class="mod_wrap_view">
        <div ui-view></div>
    </div>
</div>

<div class="mod_confirm" ng-show="isPopupModConfirm">
    <div class="mod_confirm_mask"></div>
    <div class="mod_confirm_dialog">
        <div class="mod_confirm_dialog_cont">
            <div class="mod_confirm_dialog_cont_hd"><strong class="mod_confirm_dialog_cont_hd_tit" ng-bind="modConfirmTit">标题</strong></div>
            <div class="mod_confirm_dialog_cont_bd" ng-bind="modConfirmCont">这是内容</div>
            <div class="mod_confirm_dialog_cont_ft">
                <a href="" class="mod_confirm_dialog_cont_ft_default" ng-click="modConfirmCancel()">取消</a>
                <a href="" class="mod_confirm_dialog_cont_ft_primary" ng-click="modConfirmConfirm()">确定</a>
            </div>
        </div>
    </div> 
</div>

<div class="mod_toast" ng-show="isPopupModToast" ng-click="modToastClose()">
    <div class="mod_toast_mask"></div>
    <div class="mod_toast_main">
        <p ng-bind="modToastText">成功！</p>
    </div>
</div>

<script src="public/js/jquery-2.1.4.min.js"></script>
<script src="public/js/angular.min.js"></script>
<script src="public/js/angular-ui-router.js"></script><!--NG 路由插件-->
<script src="public/js/ui-bootstrap-tpls-0.13.4.min.js"></script><!--NG 翻页插件-->
<script src="public/js/ua-parser.min.js"></script>
<!-- <script src="public/js/semantic.min.js"></script> -->

<script src="state/stateApply.js"></script>
<script src="state/stateList.js"></script>
<script src="state/stateDetail.js"></script>
<script src="state/stateIdlist.js"></script>

<script src="util.js"></script>
<script>
var jQuery = $;

angular.module('bughound', [
    'ui.router',
    'ui.bootstrap'
], angular.noop)

.filter('scehtml', ['$sce', function($sce) {
    return function(text) {
        return $sce.trustAsHtml(text);
    }  
}])

.filter('fmtDateNormal', [function() {
    return function(text) {
        var date = new Date(text);
        if(date=='Invalid Date') {
            return '';
        }
        var now = new Date(),
            sepdays = Math.floor(now.getTime()/86400000) - Math.floor(date.getTime()/86400000);
        if(sepdays>7) {
            if(now.getFullYear()-date.getFullYear()>0) {
                return date.getFullYear()+'年'+(date.getMonth()+1)+'月'+date.getDate()+'日';
            } else {
                return (date.getMonth()+1)+'月'+date.getDate()+'日';
            }
        } else if(sepdays>0) {
            return sepdays + '天前';
        } else {
            if(now.getHours()-date.getHours()>0) {
                return (now.getHours()-date.getHours())+'小时前';
            } else if(now.getMinutes()-date.getMinutes()>0) {
                return (now.getMinutes()-date.getMinutes())+'分钟前';
            } else {
                return (now.getSeconds()-date.getSeconds())+'秒前';
            }
        }
    }
}])

.filter('slice', function () {
    return function (inputArr, start, end) {
        var resultArr = [];

        if (!angular.isArray(inputArr)) { return inputArr; }
        if (start < 0) { start = 0; }
        if (end > inputArr.length) { end = inputArr.length; }

        for (var i = start; i < end; ++i) {
            resultArr.push(inputArr[i]);
        }
        return resultArr;
    };
})

.directive('fileModel', ['$parse', function ($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs, ngModel) {
            var model = $parse(attrs.fileModel);
            var modelSetter = model.assign;
            element.bind('change', function(event){
                scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                });
                //附件预览
                scope.files = (event.srcElement || event.target).files || event.dataTransfer.files;
                scope.getFile();
            });
        }
    };
}])

.directive('onDocumentClick', ['$document',
  function($document) {
    return {
      restrict: 'A',
      link: function(scope, element, attrs) {

        var onClick = function() {
          scope.$apply(function() {
            scope.$eval(attrs.onDocumentClick);
          });
        };

        $document.on('click', onClick);

        scope.$on('$destroy', function() {
          $document.off('click', onClick);
        });
      }
    };
  }
])

.directive('onOutsideElementClick', ['$document',
  function($document) {
    return {
      restrict: 'A',
      link: function(scope, element, attrs) {

        element.on('click', function(e) {
          e.stopPropagation();
        });

        var onClick = function() {
          scope.$apply(function() {
            scope.$eval(attrs.onOutsideElementClick);
          });
        };

        $document.on('click', onClick);

        scope.$on('$destroy', function() {
          $document.off('click', onClick);
        });
      }
    };
  }
])

.config(function($stateProvider, $urlRouterProvider, $httpProvider) {
    $urlRouterProvider.otherwise('list');  //无效路由

    $stateProvider
        .state('apply', stateApply)
        .state('list', stateList)
        .state('detail', stateDetail)
        .state('idlist', stateIdlist);
})

.service('Session', function($rootScope) {
    this.create = function(userErp, userName, userIsAdmin) {
        $rootScope.userErp = this.userErp = userErp;
        $rootScope.userName = this.userName = userName;
        $rootScope.userIsAdmin = this.userIsAdmin = !!userIsAdmin;
    }
    this.destory = function() {
        $rootScope.userErp = this.userErp = undefined;
        $rootScope.userName = this.userName = undefined;
        $rootScope.userIsAdmin = this.userIsAdmin = false;
    }
    return this;
})

.run(function($rootScope, $http, $state, Session) {
    $http.get('api/auth').then(function(res) {
        console.log(res.data)
        Session.create(res.data.erp, res.data.name, res.data.isAdmin);
    });

    $rootScope.$on('$stateChangeSuccess', function(event, toState, toParams, fromState, fromParams) {
        $rootScope.navidx = toState.name;
    });
})

.controller('mainctrl', function($scope, $http, $state, Session) {

    // ----- 登录 -----
    $scope.signin = function() {
        if(!$scope.signinErp) {
            $scope.signinErpHaserror = true;
            _POP_.toast('请输入ERP');
        } else {
            $scope.signinErpHaserror = false;
        }
        $http.post('api/user/signin', {
            erp: $scope.signinErp
        }).then(function(res) { 
            if(res.data.state=='success') {
                var data = res.data.data;
                if($scope.userErp) {
                    _POP_.toast('切换成功');
                } else {
                    _POP_.toast('登录成功');
                }
                Session.create(data.erp, data.name, data.isadmin);
            } else {
                $scope.loginTip = '登录失败';
            }
        });
    }

    // ----- 登出 -----
    $scope.signout = function() {
        $http.post('api/user/signout').then(function(res) {
            Session.destory();
        });
    }

});
</script>
</body>
</html>