<!DOCTYPE HTML>
<html lang="zh-CN" ng-app="rocket">
<head>
<meta charset="utf-8">
<title>Rocket | 需求提报平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="public/css/gb.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="public/froala_editor_2.3.0/css/froala_editor.css">
<link rel="stylesheet" href="public/froala_editor_2.3.0/css/froala_style.css">
<link rel="stylesheet" href="public/froala_editor_2.3.0/css/plugins/colors.css">
<link rel="stylesheet" href="public/froala_editor_2.3.0/css/plugins/emoticons.css">
<link rel="stylesheet" href="public/froala_editor_2.3.0/css/plugins/fullscreen.css">

<!-- s dev -->
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
<meta http-equiv="pragma" content="no-cache">
<!-- e dev -->
</head>
<body ng-controller="mainctrl" ontouchstart>

<!-- S 头部 -->
<header class="mod_hd">
  <div class="mod_hd_cont ly_box">
    <div class="mod_hd_logo ly_box" ui-sref="apply">
      <i class="ly_box_flexone"><!-- &#xe600; --></i>
      <!-- <div>需求提报</div> -->
    </div>
    <nav class="mod_hd_nav ly_box_flexone">
      <ul class="mod_hd_nav_ul ly_box">
        <li class="{{navidx === 'list' && 'active'}}" ui-sref="list">广场</li>
        <li class="{{navidx === 'apply' && 'active'}}" ui-sref="apply">申请</li>
        <li class="{{navidx === 'sbulist' && 'active'}}" ui-sref="sbulist">业务</li>
        <li class="{{navidx === 'idlist' && 'active'}}" ng-show="userIsAdmin" ui-sref="idlist">开发者</li>
      </ul>
    </nav>
    <div class="mod_hd_info">
      <div class="mod_hd_info_user" on-outside-element-click="showLogin=false">
        <div class="mod_hd_info_user_main" ng-click="showLogin=!showLogin">
          <i class="iconfont">&#xe601;</i><span class="mod_hd_info_user_text" href="#">{{userName ? userName : '开发者登录'}}</span>
        </div>
        <form class="mod_hd_info_user_signin" ng-show="showLogin">
          <input class="mod_hd_info_user_signin_erp {{signinErpHaserror && 'haserror'}}" type="text" placeholder="输入 ERP" ng-model="signinErp">
          <input class="mod_hd_info_user_signin_submit" type="submit" value="{{ userId ? '切换':'登录'}}" ng-click="signin()">
          <button class="mod_hd_info_user_signin_submit" ng-show="userId" ng-click="signout()">登出</button>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- E 头部 -->

<!-- S 主页面 -->
<div class="mod_wrap">
  <div class="mod_wrap_view">
    <div ui-view></div>
  </div>
</div>
<!-- E 主页面 -->

<div class="mod_confirm" ng-show="isPopupModConfirm">
  <div class="mod_confirm_mask"></div>
  <div class="mod_confirm_dialog">
    <div class="mod_confirm_dialog_cont">
      <div class="mod_confirm_dialog_cont_hd"><strong class="mod_confirm_dialog_cont_hd_tit" ng-bind="modConfirmTit">标题</strong></div>
      <div class="mod_confirm_dialog_cont_bd" ng-bind="modConfirmCont">这是内容</div>
      <div class="mod_confirm_dialog_cont_ft">
        <a href="" class="mod_confirm_dialog_cont_ft_default" ng-click="modConfirmCancel()">取消</a>
        <a href="" class="mod_confirm_dialog_cont_ft_primary" ng-click="modConfirmConfirm()">确定</a>
      </div>
    </div>
  </div>
</div>

<script src="public/js/jquery-2.1.4.min.js"></script>
<script src="public/js/angular.min.js"></script>
<script src="public/js/angular-ui-router.js"></script><!--NG 路由插件-->
<script src="public/js/angular-file-upload.min.js"></script><!--NG 文件上传插件-->
<script src="public/js/angucomplete-alt.min.js"></script><!--NG 自动补全插件-->
<script src="public/js/ui-bootstrap-tpls-1.3.3.min.js"></script><!--NG 翻页插件-->
<script src="public/js/ua-parser.min.js"></script>

<script src="angular/filter/scehtml.js"></script>
<script src="angular/filter/fmtDateNormal.js"></script>
<script src="angular/filter/regex.js"></script>
<script src="angular/filter/slice.js"></script>
<script src="angular/directive/fileModel.js"></script>
<script src="angular/directive/onDocumentClick.js"></script>
<script src="angular/directive/onOutsideElementClick.js"></script>
<script src="angular/service/Session.js"></script>

<script src="public/froala_editor_2.3.0/js/froala_editor.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/colors.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/emoticons.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/link.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/paragraph_format.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/lists.min.js"></script>
<script src="public/froala_editor_2.3.0/js/plugins/fullscreen.min.js"></script>

<script src="state/stateApply.js"></script>
<script src="state/stateList.js"></script>
<script src="state/stateDetail.js"></script>
<script src="state/stateIdlist.js"></script>
<script src="state/stateSbulist.js"></script>

<script src="util.js"></script>
<script src="index.js"></script>
</body>
</html>
